site_name: Travail de diplôme 2022
site_author: Dylan Upchurch
copyright: Copyright &copy; 2022 Dylan Upchurch
repo_url: https://github.com/DylanUpchr/Blackrust
repo_name: DylanUpchr/Blackrust
theme:
  name: material
  logo: img/logo.svg
  favicon: img/favicon.svg
  palette:
    scheme: slate
    primary: red
    accent: red
plugins:
    #- with-pdf:
    #    cover_subtitle: Client léger polyvalent
    #    cover_logo: img/logo.svg
    #    exclude_pages: 
    #        - 'rapport_tsem'
    #        - 'rapport_stage' 