html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainCard{
	width: 854px;
	height: 480px;
	/*padding: 8px 8px 8px 8px;*/
	opacity: 75%;
	background-color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
    position: relative;
}
#topBar {
    width: auto;
    height: 50px;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    border-color: #000000;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#topBar span{
    margin: auto;
}
#topBar span h2{
    margin: 0px;
}
#contentContainer{
    width: 100%;
    height: calc(100% - 50px - 16px);
}
#backgroundImg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#bannerImg{
    width: 100%;
    height: 150px;
    background-color: gray;
}
#inputProfileWrapper{
  display: inl;
  width: 250px;
  height: 21px;
}
#inputProfile{
  display: block;
  border: 1px solid gray;
  border-radius: 5px;
  width: auto;
  height: auto;
  padding-top: 2px;
}
#inputIpFqdn{
  width: 86%;
  border: none;
  height: 20px;
  margin-left: 2px;
}
#inputProfileSelect{
  height: 20px;
  width: 10%;
  float: right;
  padding: 0px;
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  outline: 0;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-position:
    calc(50% - 2px) 50%,
    calc(50% + 3px) 50%,
    0% 50%;
}
#inputProfileSelectOptions{
  width: calc(100% - 1px);
  max-height: 100px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: auto;
  margin-right: 5px;
}
.arrow-open{
  background-image:
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
}
.arrow-closed{
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
}
.options-open{
  height: auto;
  opacity: 100;
}
.options-closed{
  height: 0px;
  opacity: 0;
}
.profile{
  padding: 5px;
}
.content{
  display: none;
}
.currentContent{
  display: block;
  height: 100%;
}
.currentSubContent{
  display: block;
}
#settingsButton{
  margin-right: 8px !important;
  font-size: 2em;
}
#settingsTabs{
  height: 100%;
  width: 15%;
  float: left;
}
#settings ul{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  border-right: solid black 1px;
}
.subcontent{
  display: none;
}
.currentSubcontent{
  display: block;
}
.subcontentTab{
  list-style: none;
  font-size: 3em;
  margin: auto;
}
.currentSubcontentTab{
  color: #0000DD;
}