html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainCard{
	width: 854px;
	height: 480px;
	/*padding: 8px 8px 8px 8px;*/
	opacity: 75%;
	background-color: #ffffff;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-radius: 15px 15px 15px 15px;
    position: relative;
}
#topBar {
    width: auto;
    height: 50px;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    border-color: #000000;
    border: none;
    border-bottom: solid;
    border-width: 1px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#topBar span{
    margin: auto;
}
#topBar span h2{
    margin: 0px;
}
#cardContent{
    width: 100%;
    height: calc(100% - 50px - 16px);
}
#backgroundImg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#bannerImg{
    width: 100%;
    height: 150px;
    background-color: gray;
}
/*.valid{
    border: solid green 2px;
    box-shadow: green 0px 0px 15px;
}
.invalid{
    border: solid red 2px;
    box-shadow: red 0px 0px 15px;
}*/
#inputProfileSelect {
    position: relative;
    width: 200px;
    display: inline-block;
  }
  
  #inputProfileSelect select {
    width: 100%;
  }
  
  #inputProfileSelect > * {
    box-sizing: border-box;
    height: 1.5em;
  }
  
  #inputProfileSelect input {
    position: absolute;
    width: calc(100% - 20px);
  }
  #connectionSelect {
      width: 100%;
      height: calc(100% - 150px);
      display: flex;
      align-items: center;
      justify-content: center;
  }
  /*.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .dropdown-menu-open {
    max-height: 200px;
    transition: all 0.3s ease;
  }*/